@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;


.menu.search {
  z-index: 1;

  pointer-events: none;
  background-color: transparent;
  transition: background-color .5s ease;
  &>* {
    opacity: 0;
    transition: opacity .5s ease;
  }

  &[data-open=true] {
    pointer-events: auto;
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    background-color: var(--float-background-color);
    &>* {
      opacity: 1;
    }
  }
}
.menu.search {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &>.button.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  padding-top: 5rem;
  &>.search-wrapper {
    position: absolute;
    top: 5rem;
    bottom: 0;
    left: 1.5rem;
    right: 1.5rem;
    @include lg {
      left: 25%;
      right: 25%;
    }

    &>.search-box {
      display: flex;
      justify-content: center;
      align-items: center;
  
      height: 4rem;
      border-bottom: .1875rem solid var(--primary-text-color);
  
      position: relative;
      &>.icon.icon-search {
        position: absolute;
        left: 0;
        height: 100%;
        width: auto;
        margin-right: .75rem;
      }
      &>.search-input {
        font-size: 1.5rem;
        height: 100%;
        width: calc(100% - 3rem - 2rem);
        text-align: center;
      }
    }
    &>.auto-complete-list {
      padding-top: 2rem;

      display: flex;
      flex-direction: column;
  
      &>.auto-complete-item {
        height: 4rem;
        display: flex;
        align-items: center;
        //border-bottom: .1875rem solid var(--border-color);
  
        &>p {
          width: 100%;
          font-size: 1.5rem;
          text-align: center;
        }
      }
    }
  }
}