@use '../../styles/mixins' as *;

strong {
  font-weight: 600;
}

.bio {
  display: grid;
  justify-content: center;

  @include lg {
    grid-template-columns: auto auto;
    grid-gap: 5rem;
  }

  grid-template-columns: auto;
  grid-gap: 0;

  //@include content-max-width;

  .introduction {
    display: flex;
    flex-direction: column;
    // +
    justify-content: center;
    //
    word-break: keep-all;

    strong {
      display: inline-block;
    }

    font-size: 3rem;
    line-height: 1.25;

    .description {
      margin-top: .75rem;
      font-size: 1.25rem;
    }

    .social-links {
      margin-top: 1.5rem;
      display: flex;
    }
  }

  position: relative;

  .logo {
    display: block;
    width: 240px;
  }
}