@use "../../styles/mixins" as *;

strong {
  font-weight: 600;
}

.bio-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 5%;

  .bio {
    display: grid;
    justify-content: center;

    @include lg {
      grid-template-columns: auto auto;
      grid-gap: 5rem;
    }

    grid-template-columns: auto;
    grid-gap: 0;

    //@include content-max-width;

    .logo {
      @media (prefers-color-scheme: dark) {
        filter: grayscale(100%);
      }
    }

    .introduction {
      display: flex;
      flex-direction: column;
      // +
      justify-content: center;
      //
      word-break: keep-all;

      strong {
        display: inline-block;
      }

      font-size: 3rem;
      line-height: 1.25;

      .description {
        margin-top: 1rem;
        font-size: 1.5rem;
      }

      .social-links {
        margin-top: 1.5rem;
        display: flex;
      }
    }

    .logo {
      display: block;
      width: 240px;
    }
  }
}