@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;


.menu.nav {
  z-index: 1;

  pointer-events: none;
  background-color: transparent;
  transition: background-color .5s ease;
  &>* {
    opacity: 0;
    transition: opacity .5s ease;
  }

  &[data-open=true] {
    pointer-events: auto;
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    background-color: var(--float-background-color);
    &>* {
      opacity: 1;
    }
  }
}
.menu.nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &>.button.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  &>.nav-wrapper {
    position: absolute;
    top: 5rem;
    bottom: 0;
    left: 1.5rem;
    right: 1.5rem;
    @include lg {
      left: 25%;
      right: 25%;
    }

    &>.nav-list {
      display: flex;
      flex-direction: column;

      &>.nav-item {
        height: 4rem;
        display: flex;
        align-items: center;
        //border-bottom: .1875rem solid var(--border-color);

        &>p {
          width: 100%;
          font-size: 1.5rem;
          text-align: center;
        }
      }
    }
  }
}