html {
  // light mode colors

  --background-color: #fff;
  --primary-text-color: #000;
  --secondary-text-color: #666;
  --tertiary-text-color: #999;
  --content-text-color: #000;

  --brand-color: #b71c1c;

  --border-color: rgba(0, 0, 0, 0.075);
  --float-background-color: rgba(255, 255, 255, 0.75);

  --link-text-color: rgb(55 53 47 / 70%);

  --markdown-table-even-cell-background-color: #f6f8fa;
  --markdown-table-border-color: #dfe2e5;
  --markdown-blockquote-border-color: #dfe2e5;
  --markdown-border-color: #e1e4e8;

  // dark mode colors

  @media (prefers-color-scheme: dark) {
    --background-color: rgb(30, 32, 34);
    --primary-text-color: #fff;
    --secondary-text-color: #999;
    --tertiary-text-color: #777;
    --content-text-color: #fff;

    --border-color: rgba(255, 255, 255, 0.075);
    --float-background-color: rgba(30, 32, 34, 0.75);

    --link-text-color: #90b0ec;

    --markdown-table-even-cell-background-color: #2d333b;
    --markdown-table-border-color: #444c56;
    --markdown-blockquote-border-color: #4f5864;
    --markdown-border-color: #e1e4e8;
  }
}
