@use './variables' as *;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

/*@mixin content-max-width {
  width: 100%;
  max-width: $content-max-width;
}*/

/*@mixin content-horizontal-padding {
  padding-left: $content-horizontal-padding;
  padding-right: $content-horizontal-padding;
}*/

@mixin content-horizontal-padding {
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @media (min-width: #{$screen-md-min}) {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  @media (min-width: #{$screen-lg-min}) {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  @media (min-width: #{$screen-xl-min}) {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}