$font-family: "Pretendard Variable", "Pretendard",
  -apple-system, BlinkMacSystemFont, Apple SD Gothic Neo,
  Helvetica Neue, Helvetica, Roboto, Noto Sans KR, Malgun Gothic, sans-serif,
  Apple Color Emoji, Segoe UI Emoji;

$font-family-code: Menlo, Consolas, Monaco, Andale Mono, Ubuntu Mono,
  "Pretendard Variable", "Pretendard",
  monospace;

/*$font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
  Apple Color Emoji, Segoe UI Emoji;*/

//$content-max-width: 720px;
//$content-horizontal-padding: 15px;
//$content-image-max-height: 560px;

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 1080px;
$screen-xl-min: 1280px; //