/* Custom named-area grid system, written 2022-08-11 referencing the look
   of https://cactus.tistory.com/232 */

@layer components {
  .c-grid {
    display: grid;
    grid-gap: 0 1.5rem;
    grid-area: auto / area-1 / auto / area-4;
    grid-template-areas: "area-1" "area-2" "area-3" "area-4";
    grid-template-columns: 1fr;

    @variant md {
      grid-gap: 0 2.5rem;
    }
    @variant lg {
      grid-gap: 0 3.5rem;
      grid-template-areas: "area-1 area-3" "area-2 area-4";
      grid-template-columns: repeat(2, 1fr);
    }
    @variant xl {
      grid-gap: 0 5rem;
      grid-area: auto / area-1 / auto / area-4;
      grid-template-areas: "area-1 area-2 area-3 area-4";
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .c-grid-1 {
    grid-area: area-1;
    grid-template-areas: "area-1";
    grid-template-columns: 1fr;
  }
  .c-grid-2 {
    grid-area: area-2;
    grid-template-areas: "area-2";
    grid-template-columns: 1fr;
  }
  .c-grid-3 {
    grid-area: area-3;
    grid-template-areas: "area-3";
    grid-template-columns: 1fr;
  }
  .c-grid-4 {
    grid-area: area-4;
    grid-template-areas: "area-4";
    grid-template-columns: 1fr;
  }

  .c-grid-12 {
    grid-area: auto / area-1 / auto / area-2;
    grid-template-areas: "area-1" "area-2";
    grid-template-columns: 1fr;
    @variant sm {
      grid-template-areas: "area-1 area-2";
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .c-grid-34 {
    grid-area: auto / area-3 / auto / area-4;
    grid-template-areas: "area-3" "area-4";
    grid-template-columns: 1fr;
    @variant sm {
      grid-template-areas: "area-3 area-4";
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .c-grid-24 {
    grid-area: auto / area-2 / auto / area-4;
    grid-template-areas: "area-2" "area-3" "area-4";
    grid-template-columns: 1fr;
    @variant lg {
      grid-template-areas: "area-2 area-2" "area-3 area-4";
      grid-template-columns: repeat(2, 1fr);
    }
    @variant xl {
      grid-template-areas: "area-2 area-3 area-4";
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .c-grid-14 {
    grid-area: auto / area-1 / auto / area-4;
    grid-template-areas: "area-1" "area-2" "area-3" "area-4";
    grid-template-columns: 1fr;
    @variant lg {
      grid-template-areas: "area-1 area-3" "area-2 area-4";
      grid-template-columns: repeat(2, 1fr);
    }
    @variant xl {
      grid-template-areas: "area-1 area-2 area-3 area-4";
      grid-template-columns: repeat(4, 1fr);
    }
  }

}
