@use '../../styles/mixins' as *;

.page-header-wrapper {
  position: fixed;
  top: 0;
  z-index: 10;

  padding: 0 1.25rem;

  @include xl {
    padding: 0 1.5rem;
  }

  display: flex;
  //justify-content: center;
  width: 100%;

  .page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; //@include content-max-width;
    height: 4rem;

    .link {
      font-weight: 600;
      font-size: 1.25rem;
      color: var(--primary-text-color);
    }

    .trailing-section {
      display: flex;
      align-items: center;

      .link {
        margin-right: 1.25rem;
      }
    }

    .arthor {
      display: flex;
      flex-direction: row;
      align-items: center;

      svg {
        width: 2.25rem;
        height: 2.25rem;
        fill: var(--primary-text-color);
        margin-right: .375rem;
      }
    }
  }
}