@use '../../styles/mixins' as *;

.page-header-wrapper {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  padding: 1rem;

  .page-header {
    width: 100%;
    
    display: flex;
    align-items: center;
    height: 3rem;

    .icon {
      height: 3rem;
      width: 3rem;
      &>svg {
        height: 1.75rem;
        width: 1.75rem;
        fill: var(--primary-text-color);
      }
    }

    .button + .button {
      margin-left: .5rem;
    }
    .button.button-brand {
      padding: .25rem;

      .brand {
        height: 2.5rem;
        width: 2.5rem;
        background-color: var(--brand-color);
        &>svg {
          width: 2.5rem;
          height: 2.5rem;
          fill: var(--background-color);
        }
      }
    }
  }
}

.right {
  margin-left: auto !important;
}