@use "../../styles/mixins" as *;


.page-header-wrapper {
  pointer-events: none;
  .page-header {
    &>* {
      pointer-events: auto;
    }
  }
}
.page-header-wrapper {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  padding: 1rem;

  pointer-events: none;
  .page-header {
    width: 100%;
    
    display: flex;
    align-items: center;
    height: 3rem;

    .buttons {
      .button + .button {
        margin-left: .5rem;
      }
      .button.button-author {
        padding: .25rem;

        .author {
          height: 2.5rem;
          width: 2.5rem;
          background-color: var(--brand-color);
          &>svg {
            width: 2.5rem;
            height: 2.5rem;
            fill: var(--background-color);
          }
        }
        @media (prefers-color-scheme: dark) {
          .author {
            background-color: var(--background-color);
            &>svg {
              border: 1px solid var(--primary-text-color);
              fill: var(--primary-text-color);
            }
          }
        }
      }
    }
  }

  transition: top .25s ease;
  &[data-hidden=true] {
    top: -5rem;
  }

  .icon {
    height: 3rem;
    width: 3rem;
    &>svg {
      height: 1.75rem;
      width: 1.75rem;
      fill: var(--primary-text-color);
    }
  }
}

.right {
  margin-left: auto !important;
}