@use '../../styles/mixins' as *;

.page-footer-wrapper {
  position: fixed;
  bottom: 0;
  z-index: 10;

  padding: 0 1.25rem;

  @include xl {
    padding: 0 1.5rem;
  }

  display: flex;
  //justify-content: center;
  width: 100%;

  .page-footer {
    font-size: .875rem;
    line-height: 1.625;

    color: var(--primary-text-color);

    padding-bottom: 1.25rem;
  }
}