@use '../styles/variables' as *;
@use '../styles/mixins' as *;
@use '../styles/reset' as *;
@use '../styles/colors' as *;

@use '../styles/grid' as *;
@use '../styles/pretendard' as *;

* {
    box-sizing: border-box;
    appearance: none;
}

html {
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    font-size: 14px;
    @include md {
        font-size: 15px;
    }
    @include lg {
        font-size: 16px;
    }
    @include xl {
        font-size: 16px;
    }
}

body {
    background-color: var(--background-color) !important;
}


a {
    color: var(--link-text-color);
}

.page-wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    min-height: 100vh;
    word-break: keep-all;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $font-family;
    color: var(--primary-text-color);
    @include content-horizontal-padding;

    padding-top: 8rem;
    padding-bottom: 8rem;

    .page-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        //@include content-max-width;
        height: 100%;
    }
}


// 404
.not-found {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-bottom: 5%;

  &>.pic-text {
    font-size: 3rem;
  }
  &>.description {
    margin-top: 2.5rem;
    font-size: 1.5rem;
  }
}